<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chenney.meiziku">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".app.MMApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".MeiziActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".beauty.detail.BeautyDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data
            android:name="com.chenney.meiziku.glide.GlideModuleSetting"
            android:value="GlideModule">

        </meta-data>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>